header {
	display: grid;
	grid-auto-rows: min-content;
 	grid-template-columns: 
	[full-start] minmax(1em, 1fr) 
	[main-start] minmax(0, 37.5em)
	[half] minmax(0, 37.5em)
	[main-end]minmax(1em, 1fr) [full-end];
	
	.top-bar {
		grid-column: full;
		background: #000;
		grid-row: 1 / 2;
	}
	
	.superheader {
		grid-row: 1 / 2;
		grid-column: main;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		
		@include max-nav-breakpoint {
			justify-content: center;
			flex-direction: column;
		}
			
		p {
			color: #fff;
			font-size: 14px;
			padding: 5px 0;
			margin: 0;
			text-align: center;
		}
		
		.social {
			display: flex;
			width: 70px;
			justify-content: space-between;
			
			@include max-nav-breakpoint {
				margin: 0 auto;
			}
			
			i {
				color: #fff;
				font-size: 1em;
				font-family: 'FontAwesome';
				font-style: normal;
				font-weight: 100;
			}
		}
	}
	
	.navbar {
		grid-column: full;
		grid-row: 3 / 4;
		background-color: #135689;
		
		@include max-nav-breakpoint {
			display: none;
		}
	}	
	
	nav#site-navigation {
		grid-column: main;
		grid-row: 3 / 4;
		
		@include max-nav-breakpoint {
			grid-column: full;
		}
	}
}